.content{
    transition: 5s;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    align-items: center;
    justify-content: space-between;

    padding: 0 5em;
    height: calc(100vh - 130px); //120px menu

    .content-img{
        display: flex;
        height: 100%;
        align-items: flex-end;
        
        img{
            width: 100%;
        }
    }

    .content-inf{
        h1{
            font-size: 4em;
            font-weight: 400;
        }

        p{
            font-size: 1.8em;
            width: 70%;
        }
    }
}